<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.linkedin.com/in/gustavo-martins-727a1ab3/" target="_blank" class="icoLinkedIn">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://github.com/novaavos" target="_blank" class="icoLinkedIn">
              <i class="fa fa-github-square" aria-hidden="true"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="footer-copyright bg-secundary text-center py-3">
      <span class="text-light"> © 2021 Copyright: </span>
      <a href="https://brasil.generation.org" class="text-light" target="_blank">brasil.generation.org</a>
    </div>

  </div>
</footer>
