ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li{
  display: inline;
  padding: 5px;
}

.fa{
  font-size: 35pt;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.fa-linkedin-square:hover{
  color: rgb(148, 165, 223);

}

.fa-github-square:hover{
  color: rgb(87, 87, 87);

}
