#img-bg {
  background-image: url("../../assets/img/chrome_G0wWstw5Y2.png");

  min-height: 100vh;
  max-width: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

    /*Coisas da animacao*/
  transform: translateX(+500px);

}

#entrarMenu {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

  /*Coisas da animacao*/
  opacity: 0;
  transform: translateX(-50px);
}

#teste {
  overflow-x: hidden;
  overflow-y: hidden;
}

#img-bg.animar {
  animation-name: slideBG;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#entrarMenu.animar{
  animation-name: slide;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes slide {

  from {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes slideBG {

  to {
   transform: translateX(0);
  }

}
